/* bestСategories */

.best-categories {
  width: 100%;
  margin-top: 30px;

  &__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 0 0 auto;
    max-width: 350px;
    margin: 5px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    margin-left: 10px;
  }

  &__item {
    overflow: hidden;
    border-radius: 20px !important;
  }

  &__bg {
    background-color: #f5f5f7;
    background-size: cover;
    height: 250px;
  }

  &__content {
    height: 250px;
  }

  &__img {
    padding: 20px 20px 0;
  }

  &__pict {
    max-height: 100%;
    width: auto;
    flex: 0;
    width: 600px;
    height: 462px;
  }

  &__box {
    padding: 20px;
  }

  &__title {
    font-size: 16px;
  }
}