.button {
  background: $links;
  color: $background;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: $button-size-40;
  height: $button-size-40;
  white-space: normal;
  line-height: 1.2;
  padding: 5px 15px;
  border: none;
  background-clip: border-box;
  font-size: 15px;
  letter-spacing: normal;
  text-transform: none;
  border-radius: 40px;
  transition: $transition;

  &:hover {
    color: $background;
    background: $button-hover;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}

.button-second {
  background: $button-second;
  color: $text-color;
  transition: $transition;

  &:hover {
    color: $text-color;
    background: $button-second-hover;
  }

  &.confirm {
    min-width: 161px;

    span {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }
}

.header-icon {
  display: block;
  position: relative;
  height: 35px;
  width: 35px;
  margin: 0;
  left: 0;
  top: -5px;
  right: 0;
  cursor: pointer;
  transition: $transition;

  &:hover {
    transform: scale(1.1);
  }

  @include media('xs') {
    height: 25px;
    width: 25px;
  }

  @include media('xxs') {
    height: 15px;
    width: 15px;
  }
}

.top-arrow {
  @include arrow();
}

.close {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  opacity: 0.75;
  color: #595959;
  cursor: pointer;
  transition: $transition;
  z-index: 10;

  span {
    position: absolute;
    width: 25px;
    height: 2px;
    left: 50%;
    top: 50%;
    background-color: #595959;
    transition: $transition;
  }

  span:nth-of-type(1) {
    transform: translate(-50%, 0%) rotate(45deg);
  }

  span:nth-of-type(2) {
    transform: translate(-50%, 0%) rotate(-45deg);
  }
}

.reset {
  position: relative;
  border: 1px solid #dd4b3926;
  color: #dd4b39;
  background: #dd4b390d;
  font-weight: 500;
  padding-right: 28px;
  padding: 7px 28px 7px 10px;
  margin: 4px 5px 4px 0;
  border-radius: $border-radius-8;
  transition: $transition;

  &:hover {
    border-color: #dd4b39;
    color: #dd4b39;
    cursor: pointer;
  }

  &__icon {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    line-height: 100%;
    background: url(/src/assets/svg/reset.svg) no-repeat center center/cover;
  }
}

.compared-products__icon {
  background: url(/src/assets/svg/stats.svg) no-repeat center center / cover;
}

.wishlist__icon {
  background: url(/src/assets/svg/heart.svg) no-repeat center center / cover;
}

.my-account__icon {
  background: url(/src/assets/svg/profile.svg) no-repeat center center / cover;

  &:hover {
    filter: invert(100%) hue-rotate(8deg) brightness(162%);
  }
}

.minicart__icon {
  background: url(/src/assets/svg/cart.svg) no-repeat center center / cover;
}
