.cart-dropdown {
  background: #fff;
  margin-top: 0;
  border: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  position: absolute;
  right: 0;
  z-index: 600;
  text-align: left;
  top: calc(100% + 7px);
  animation: dialog_is_open 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -21px;
    right: 11px;
    border-color: transparent;
    border-style: solid;
    border-top-width: 0;
    border-width: 11px;
    border-bottom-color: #fff;
  }

  &::before {
    top: -22px;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }

  &__title {
    @include font($family: $font-family-title);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 47px;
    padding: 0 50px 0 15px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 10px;

    .icon-close {
      display: inline-block;
      opacity: 0.75;
      color: #595959;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:before {
        content: '\D7';
        font-size: 24px;
      }
    }
  }

  &__product {
    width: 320px;
    overflow: auto;
    padding: 10px 22px;
    max-height: 400px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    position: relative;
    border-bottom: 1px solid #ecf0f1;
  }

  &__image {
    @include flex();
    width: 40px;
    height: 40px;
    margin-right: 15px;
    float: left;

    img {
      max-width: 40px;
      max-height: 40px;
      height: auto;
      width: auto;
    }

    a {
      position: relative;
    }
  }

  &__desc {
    flex: 1;
    width: 250px;
    overflow: hidden;

    p {
      position: absolute;
      bottom: 5px;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
    color: $links;
  }

  .buttons-container {
    @include flex($wrap: wrap);
    padding: 15px 10px;
    border-radius: 0 0 12px 12px;
    background: #f6f6f6;

    &__subtotal {
      width: 100%;
      padding: 0 5px;
      font-size: 12px;
    }

    .float-right {
      float: right;
    }

    .cart-price {
      @include font($family: $font-family-title);
    }

    .button-cart {
      // flex: 1 0 auto;
      margin: 5px;
      position: relative;
      background: #fff;
      box-shadow: inset 0 0 0 2px #fdde55;
      color: #000;
    }
  }

  &__empty {
    width: 320px;
    overflow: auto;
    padding: 10px 22px;
    max-height: 400px;
    min-height: 100px;
    background: #fbfbfb;
    padding: 40px 20px;
    color: #bdc3c7;
    text-align: center;
    border-radius: 12px;
  }
}

@keyframes dialog_is_open {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
