.catalog-menu {
  &__category-list {
    &:first-child {
      font-size: 2em;
    }

    &:not(:has(.active)) .catalog-menu__subcategory {
      display: none;
    }
  }
  &__category {
    font-size: 1.5em;
  }

  & .active {
    color: green;
    text-decoration: underline;
    pointer-events: none;
  }
}
