.goods {
  @include flex($justify: stretch, $align: stretch, $wrap: wrap);
  width: 100%;
  gap: 20px;

  &__card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(33% - 20px);
    padding: 15px 15px 20px;
    background: #fff;
    margin: 0;
    border-radius: 12px;
    box-shadow: inset 0 0 0 1px rgba(111, 111, 111, 0.15), 0 0 0 1px #fff, 0 0 10px transparent;
  }

  &__image {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 66.66%;
    transition: $transition;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 240px;
      height: 100%;
      max-width: calc(50vw - 10px);
      overflow: hidden;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    min-width: 135px;
    margin: 15px 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin: 15px 0 0;
    flex: 0 0 auto;
    min-width: 135px;
  }

  &__name {
    display: flex;
    flex: 0 0 auto;
    white-space: normal;
    margin-bottom: 5px;
    min-width: 100%;
    text-align: left;
    margin-bottom: 0 !important;
  }

  &__title {
    color: #000;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    max-height: 2.4em;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }

  &__features {
    display: inline-flex;

    span {
      margin-right: 10px;
    }
  }

  &__amount {
    display: inline-flex;
    flex: 0 0 auto;
    white-space: normal;
    margin-bottom: 5px;
    margin: 0 0 12px 0;
    vertical-align: middle;
    padding: 0;
    height: 12px;
    align-items: center;
    height: 20px;
    margin-bottom: 0;
    font-weight: normal;
    color: #008000;
  }

  &__prices {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 0;
    min-height: 36px;
  }

  &__discounted-price {
    display: inline-block;
    padding-right: 7px;
    max-width: 100%;
    line-height: 1;
    font-size: 13px;
    font-size: max(14px, 18px);
    line-height: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
  }

  &__old-price {
    position: relative;
    padding-bottom: 3px;
    color: #595959;
    border-color: #595959;
    font-size: max(12px, calc(18px - 4px));
    padding-right: 7px;

    &:after {
      content: '';
      position: absolute;
      top: 40%;
      left: 0;
      border-top: 1px solid #595959;
      color: #595959;
      width: 100%;
      box-sizing: content-box;
    }
  }

  &__control-icon {
    top: 0;
    background: url(/src/assets/svg/cart-large.svg) no-repeat center center/cover;
  }
}
