.my-profile {
  padding: 0 20px;

  .button-wrapper {
    @include flex($justify: space-evenly, $wrap: wrap);
    padding: 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    gap: 10px;

    @include media('xs') {
      flex-direction: column;
    }
  }

  .user-info {
    text-align: left;

    .button:not(.edit-icon, .save-icon, .cancel-icon) {
      margin: 20px 20px 20px 0;
    }
  }

  h2 {
    @include font($family: $font-family-title, $size: $font-size-19);
    padding: 30px 0;
    text-align: left;
  }

  .field {
    @include flex($justify: flex-start);
    text-align: left;
    margin: 35px 0;

    &-wrapper {
      position: relative;
    }

    >span:first-child {
      min-width: 120px;

      @include media('xxs') {
        min-width: 50px;
      }
    }

    .text-wrapper,
    .input-wrapper {
      @include flex();
      gap: 15px;
    }

    .text {
      @include flex($justify: flex-start);
      min-width: 250px;
      padding: 10.75px 8px;
      border-color: #d5d5d5;
      border-radius: 8px;
      background: #fff;
      border: 1px solid #eee;
      font-style: normal;
      font-weight: normal;
      box-sizing: border-box;
      margin: 0;

      @include media('xs') {
        min-width: 150px;
      }

      @include media('xxs') {
        min-width: 120px;
      }
    }

    input,
    select {
      min-width: 250px;

      @include media('xs') {
        min-width: 150px;
      }

      @include media('xxs') {
        min-width: 120px;
      }
    }
  }

  .edit-icon,
  .save-icon,
  .cancel-icon {
    display: block;
    position: relative;
    height: 35px;
    width: 35px;
    min-width: 35px;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    cursor: pointer;
    // transition: $transition;
    filter: hue-rotate(0deg);
    transition: filter 0.3s ease;

    span {
      display: none;
    }
  }

  .edit-icon {
    background: url(/src/assets/svg/edit.svg) no-repeat center center/cover;
  }

  .save-icon {
    background: url(/src/assets/svg/save.svg) no-repeat center center/cover;
  }

  .cancel-icon {
    background: url(/src/assets/svg/cancel.svg) no-repeat center center/cover;
    filter: invert(100%) hue-rotate(8deg) brightness(162%);
  }

  .edit-icon:hover,
  .save-icon:hover {
    // filter: hue-rotate(185deg) brightness(212%);
    filter: invert(100%) hue-rotate(8deg) brightness(162%);
  }

  .field.error .save-icon {
    filter: hue-rotate(162deg);
  }

  .cancel-icon:hover {
    filter: none;
  }

  .error-message {
    margin-top: 3px;
    max-width: 250px;

    @include media('xs') {
      max-width: 150px;
    }

    @include media('xxs') {
      max-width: 120px;
    }
  }

  .address {
    padding: 0 20px 20px 20px;

    &.default {
      background: #f6f6f6;
      border-radius: 8px;
      border: 1px solid #eee;
      border-radius: 8px;
      margin-top: 20px;
    }

    .button-wrapper {
      justify-content: flex-start;
    }

    &-row {
      text-align: left;

      h2 {
        padding: 20px 0 0;
      }

      .address>span {
        margin-top: 15px;
        @include font($family: $font-family-title);
      }
    }
  }

  .personal-data {
    margin-bottom: 25px;

    .field span {
      @include media('xxs') {
        min-width: 60px;
      }
    }
  }

  @include media('s') {
    button span {
      font-size: 13px;
    }
  }

  .button-wrapp {
    margin-bottom: 25px;

    button {
      margin-right: 10px;
    }
  }

  form {
    text-align: left;
  }
}