/* slider */

.slider-container {
  @include flexColumn($justify: flex-start, $align: flex-start);
  position: relative;
}

.slider-buttons {
  width: 100%;
  color: #626262;
  position: absolute;
  top: 50%;
}

.slider-buttons button {
  @include flex();
  position: absolute;
  top: 50%;
  margin-top: -20px;
  height: $button-size-40;
  width: $button-size-40;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  will-change: filter;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: $text-color;
  border-radius: 100%;
  opacity: 1;
  transition: 0.3s ease;
  z-index: 10;
}

.slider-prev {
  left: -20px;
  right: auto;

  &::before {
    content: '<';
  }
}

.slider-next {
  right: -20px;
  left: auto;

  &::before {
    content: '>';
  }
}

.slider-main {
  position: relative;
  width: 100%;
  margin: 0px 2px;
  overflow: hidden;

  &__scroll {
    @include flex($justify: flex-start);
    margin: 0 -15px;
    padding: 0 15px;
    max-width: 100vw;
    transition: transform 0.5s ease-in-out;

    @include media('s') {
      margin: 0 -10px;
      padding: 0 10px;
    }
  }
}

.slide {
  width: 300px;
  // margin-right: 12px;
  margin-right: 25px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.slide.visible {
  opacity: 1;
}