/* footer */

.footer {
  border-top: 1px solid #e1e1e1;
  flex-shrink: 0;

  .row {
    @include flex($justify: space-between, $align: start, $wrap: wrap);
    gap: 10px 40px;

    @include media('l') {
      @include flexColumn($align: stretch);
      padding: 0;
      gap: 2px;
    }

    div {
      text-align: left;
    }
  }

  &__header {
    @include font($size: $font-size-19);
    padding-top: 40px;
    color: $text-color;


    @include media('l') {
      border-bottom: 1px solid #949494;
      padding: 15px 0 15px 20px;
      @include font($family: $font-family-title);
      position: relative;
      background-color: #fde36e;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: $text-color transparent transparent transparent;
      }

      &.open:after {
        top: 40%;
        border-color: transparent transparent $text-color transparent;
      }
    }
  }

  &__body {
    margin: 10px 0 20px;

    @include media('l') {
      display: none;

      &.open {
        display: block;
        padding: 0 20px;
      }
    }
  }

  &__item {
    line-height: 1.45;
    margin-bottom: 6px;

    a {
      color: $links;
      transition: $transition;

      &:hover {
        color: $links-hover;
      }
    }
  }
}