/* header */

.header {
  .row {
    gap: 20px;

    @include media('s') {
      flex-wrap: wrap;
      justify-content: end;
    }

    @include media('xxs') {
      gap: 0;
    }
  }

  .logo-container {
    padding: 15px 0;
    max-width: 280px;
    min-width: 150px;
    position: relative;
    margin-top: 2px;

    .logo-container__image {
      display: inline-block;
      max-height: 44px;
      max-height: 50px;
      max-width: 100%;
      width: auto;
      text-decoration: none;

      @include media('xs') {
        max-height: 40px;
      }

      @include media('xxs') {
        max-height: 30px;
      }
    }
  }

  .top-search {
    @include flex();
    width: auto;
    height: 70px;
    margin-left: 0;
    flex: 1 0 0;
    gap: 10px;

    @include media('xl') {
      padding: 0 1vw;
    }

    @include media('s') {
      gap: 0;
    }

    .menu {
      display: inline-block;
      position: relative;
      color: #34495e;

      &__title {
        @include flex();
        padding: 0;
        height: 45px;
        background: $links;
        font-weight: normal;
        transition: $transition;
        cursor: pointer;
        color: $background;
        border-radius: 24px;

        @include media('xxs') {
          height: 33px;
        }

        span {
          padding-right: 15px;

          @include media('xl') {
            display: none;
          }
        }
      }

      &__icon {
        @include flex();
        width: 45px;
        height: 45px;
        font-size: $font-size-14;
        line-height: 1;
        margin-right: 0;

        @include media('xxs') {
          width: 33px;
          height: 33px;
        }

        &::before {
          content: '';
          position: absolute;
          width: 45px;
          height: 45px;
          background: url('../svg/grid.svg') no-repeat center center / cover;

          @include media('xxs') {
            width: 25px;
            height: 25px;
          }
        }
      }

      &__categories {
        display: none;

        &.active {
          display: block;
          position: absolute;
          z-index: 5;
          top: 100%;
          left: 0;
          right: 0;
          margin-top: -1px;
          min-width: 220px;
          background: $background;
          overflow-y: overlay;
          overflow-x: hidden;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 5px 7px 0 rgba(0, 0, 0, 0.22);

          @include media('xs') {
            left: -80px;
          }
        }
      }

      &__links {
        display: block;
        padding: 7px 14px;
        text-align: left;
        border-radius: 12px;
      }

      .catalog-menu__category-list:first-child {
        padding: 4px 0px 0;

        // display: none;
        a {
          font-size: 18px;
        }
      }
    }

    .search {
      flex: 1;
      background-color: $background;
      position: relative;
      min-width: 50px;
      visibility: hidden;

      @include media('m') {
        width: 50px;
      }

      &__input {
        display: block;
        width: 100%;
        @include font($size: $font-size-14);
        height: 44px;
        background: #f6f6f6;
        color: #595959;
        border: 0;
        padding: 0 44px 0 20px;
        border-radius: 22px;
        box-sizing: border-box;

        @include media('m') {
          background: $background;
          padding: 0;
          width: 50px;

          &::placeholder {
            color: $background;
          }
        }
      }

      &__magnifier {
        position: absolute;
        height: 35px;
        width: 35px;
        margin: 0;
        top: 4px;
        right: 10px;
        background: url('../svg/glass.svg') no-repeat center center / cover;

        @include media('xxs') {
          height: 30px;
          width: 25px;
          right: 0;
        }
      }
    }

    .phone {
      word-wrap: break-word;

      &__content {
        @include flexColumn($justify: center);
        padding-left: 20px;
        min-height: 56px;
        position: relative;

        &:hover .phone__icon {
          transform: scale(1.1);
        }
      }

      &__wrap {
        @include flex();
        position: relative;
        cursor: pointer;
        line-height: 1.45;

        @include media('l') {
          padding: 0 10px;
        }
      }

      &__icon {
        position: absolute;
        height: 35px;
        width: 35px;
        margin: 0;
        left: 0;
        top: -5px;
        right: 0;
        background: url('../svg/phone.svg') no-repeat center center / cover;
        transition: $transition;

        @include media('l') {
          left: -12px;
          top: -15px;
        }

        @include media('xxs') {
          height: 30px;
          width: 30px;
          left: 0;
        }
      }

      &__items {
        @include flexColumn($justify: center);

        @include media('l') {
          display: none;
        }

        a {
          display: block;
          padding: 0 2px 0 30px;
          font-size: 16px;
          font-weight: bold;
          color: $text-color;
          white-space: nowrap;
        }
      }
    }
  }

  .top-buttons {
    @include flex($justify: center);
    position: relative;
    gap: 20px;

    @include media('s') {
      position: absolute;
      top: 7px;
      right: 0;
      gap: 10px;
    }

    @include media('xs') {
      gap: 5px;
    }

    @include media('xxs') {
      top: 20px;
    }

    .minicart__count {
      @include flex($justify: center);
      min-width: 18px;
      height: 18px;
      top: -6px;
      border-radius: 10px;
      right: -8px;
      color: white;
      background: #dd4b39;
      padding: 0 4px;
      font-size: 12px;
      line-height: 0;
      text-align: center;
      position: absolute;
    }
  }
}
