/* top */

.top-panel {
  border-bottom: $border;

  .row {
    @include flex($justify: space-between);

    @include media('s') {
      width: 65%;
      justify-content: stretch;

      .button {
        min-width: 30px;
        height: 30px;
        font-size: $font-size-12;
        padding: 5px;
      }
    }

    @include media('xxs') {
      .button {
        font-size: 10px;
      }
    }

    .location {
      @include flex($justify: start);
      color: $links;
      position: relative;
      padding: 0 20px;

      &::before {
        content: '';
        position: absolute;
        left: 0px;
        width: 20px;
        height: 20px;
        background: url('../svg/location.svg') no-repeat center center / cover;
      }
    }

    .top-links {
      @include flex($justify: start);
      // width: 80%;
      max-width: 100%;

      &__wrapper {
        .text-links {
          @include flex($justify: start);

          &__item {
            height: 32px;
            padding: 0;
            margin-right: 15px;
            position: relative;

            .text-links__a {
              color: #595959;
              transition: $transition;

              &:hover {
                color: #2e2e2e;
              }
            }
          }

          @include media('l') {
            display: none;

            &.active {
              position: absolute;
              display: block;
              margin-top: 1px;
              border: 0;
              background: $background;
              padding: 7px 14px;
              text-align: left;
              border-radius: 12px;
              box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 5px 7px 0 rgba(0, 0, 0, 0.22);
              z-index: 5;

              &::before,
              &::after {
                content: '';
                position: absolute;
                top: -12px;
                right: 80%;
                border-color: transparent;
                border-style: solid;
                border-width: 6.5px;
                border-bottom-color: $background;
              }

              &::before {
                top: -13px;
                border-bottom-color: rgba(0, 0, 0, 0.1);
              }
            }
          }
        }

        .links-phone {
          @include media('l') {
            @include flex($justify: flex-start, $align: baseline);
            position: relative;
            height: 35px;
            width: 35px;
            margin: 0;
            left: 0;
            top: 0;
            right: 0;
            background: url(/src/assets/svg/list.svg) no-repeat center center / cover;
            cursor: pointer;

            &__arrow {
              left: 35px;
            }
          }
        }
      }

      .top-currencies {
        border-left: $border;
        position: relative;

        .top-currencies__a {
          @include flex($justify: flex-start);
          padding-inline: 10px;
          padding: 0 10px;
          height: 32px;
          border: 0;
          white-space: nowrap;
          cursor: pointer;

          .top-currencies__item {
            display: inline-block;
            vertical-align: top;
            color: $links;
          }
        }
      }

      .top-languages {
        border-left: $border;

        .top-languages__a {
          @include flex($justify: flex-start);
          padding-inline: 10px;
          padding: 0 10px;
          height: 32px;
          border: 0;
          white-space: nowrap;
          cursor: pointer;

          .top-languages__item {
            display: inline-block;
            vertical-align: top;
            color: $links;
          }
        }
      }
    }
  }
}
