/* top */

.top-panel {
  border-bottom: 1px solid #eee;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .location {
      display: flex;
      align-items: center;
      color: $links;
      position: relative;
      padding: 0 20px;

      &::before {
        content: '';
        position: absolute;
        left: 0px;
        width: 20px;
        height: 20px;
        background: url('../svg/location.svg') no-repeat center center;
        background-size: cover;
      }
    }

    .top-links {
      display: flex;
      align-items: center;
      // flex-direction: row-reverse;
      flex-wrap: nowrap;
      width: 80%;
      max-width: 100%;

      .top-quick-links {
        .text-links {
          &__item {
            display: inline-flex;
            align-items: center;
            height: 32px;
            padding: 0;
            margin-right: 15px;
            position: relative;

            .text-links__a {
              color: #595959;

              &:hover {
                color: #2e2e2e;
              }
            }
          }

          @include media('l') {
            display: none;

            &.active {
              position: absolute;
              display: block;
              margin-top: 1px;
              border: 0;
              background: #fff;
              padding: 7px 14px;
              text-align: left;
              border-radius: 12px;
              box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 5px 7px 0 rgba(0, 0, 0, 0.22);
              z-index: 5;

              &::before,
              &::after {
                content: '';
                position: absolute;
                top: -12px;
                right: 80%;
                border-color: transparent;
                border-style: solid;
                border-width: 6.5px;
                border-bottom-color: #fff;
              }

              &::before {
                top: -13px;
                border-bottom-color: rgba(0, 0, 0, 0.1);
              }
            }
          }
        }

        .links-phone {
          @include media('l') {
            display: flex;
            position: relative;
            height: 35px;
            width: 35px;
            margin: 0;
            left: -18px;
            top: 0;
            right: 0;
            background: url(/src/assets/svg/list.svg) no-repeat center center;
            background-size: cover;
            cursor: pointer;

            &__arrow {
              top: 15px;
              left: 33px;
            }
          }
        }
      }

      .top-currencies {
        border-left: 1px solid #eee;
        position: relative;

        .top-currencies__a {
          display: flex;
          align-items: center;
          padding-inline: 10px;
          padding: 0 10px;
          height: 32px;
          border: 0;
          white-space: nowrap;
          cursor: pointer;

          .top-currencies__item {
            display: inline-block;
            vertical-align: top;
            color: $links;
          }
        }
      }

      .top-languages {
        border-left: 1px solid #eee;

        .top-languages__a {
          display: flex;
          align-items: center;
          padding-inline: 10px;
          padding: 0 10px;
          height: 32px;
          border: 0;
          white-space: nowrap;
          cursor: pointer;

          .top-languages__item {
            display: inline-block;
            vertical-align: top;
            color: $links;
          }
        }
      }
    }
  }
}